Source: snaketray
Maintainer: Daniel Bengtsson <daniel@bengtssons.info>
Section: base
Priority: optional
Standards-Version: 3.7.2.2

Package: snaketray
Architecture: i386
Section: base
Priority: optional
Depends: ${shlibs:Depends}
Description: SnakenetMetalRadio request countdown as a KDE tray application
 The tray icon will display number of minutes left until you can
 request or the snakenet logo if you are ready to request. You need
 an account which can be created at www.snakenetmetalradio.com.
 Login information will be stored in KWallet.
