#!/usr/bin/make -f

build:

binary: clean
	@ install -v -d debian/tmp/DEBIAN \
		-d debian/tmp/usr/bin \
		-d debian/tmp/usr/share/app-install/icons \
		-d debian/tmp/usr/share/applications
	@ cp -v ../src/snaketray debian/tmp/usr/bin
	@ cp -v debian/usr/share/app-install/icons/snakenet.png debian/tmp/usr/share/app-install/icons
	@ cp -v debian/usr/share/app-install/icons/snakenet_anim.gif debian/tmp/usr/share/app-install/icons
	@ cp -v debian/usr/share/applications/snaketray.desktop debian/tmp/usr/share/applications
	dpkg-shlibdeps debian/tmp/usr/bin/snaketray
	dpkg-gencontrol
	chown -R root.root debian/tmp
	dpkg --build debian/tmp .

clean: verify
	rm -rf debian/tmp

verify:
	@ if [ "`whoami`" != "root" ] ; then  \
		echo "You must be root"; \
		exit 1;                  \
	fi
	test -d debian && test -f correct_directory

.PHONY: clean build binary